<app-header></app-header>

<main class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <strong>Support</strong>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="javascript:;">Open</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [routerLink]="[ '/support/inprogress' ]">In-progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [routerLink]="[ '/support/closed' ]">Closed</a>
      </li>
    </ul>
   
    <div class="my-3">
      <table id="example" class="display excel border" style="width:100%">
        <thead>
          <tr>
            <th>Case Number</th>
            <td>Form</td>
            <th>Name Request</th>
            <th>Title</th>
            <th>Status</th>
            <th>Created Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;">
            <td>{{ item.ticketNumber }}</td>
            <td>
              <span *ngIf="item.supportFormId==1"> General</span>
              <span *ngIf="item.supportFormId==2"> Izin</span>
              <span *ngIf="item.supportFormId==3"> Pengembalian</span>
              <span *ngIf="item.supportFormId==4"> Renovasi</span>
            </td>
            <td>{{ item.request_name }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.status_name }}</td>
            <td>{{ item.input_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td><a role="button" class="btn btn-primary btn-sm" (click)="open(modalDetail, item); obj= item; getId = item.id;">Detail</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>


<ng-template #modalNewRequest let-modal>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Support Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Subject</label>
        <div class="col-8">
          <input type="text" class="form-control" id="subject" required [(ngModel)]="model.subject" name="subject" #subject="ngModel">
          <div [hidden]="subject.valid || subject.pristine" class="mt-2 text-danger">
            subject is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="textarea" class="col-4 col-form-label">Note</label>
        <div class="col-8">
          <textarea id="note" name="note" required [(ngModel)]="model.note" cols="40" rows="5" class="form-control" #note="ngModel"></textarea>
          <div [hidden]="note.valid || note.pristine" class="mt-2 text-danger">
            subject is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Form Support Type</label>
        <div class="col-8">
          <select id="supportFormId" name="supportFormId" class="custom-select" required [(ngModel)]="model.supportFormId" #supportFormId="ngModel">
            <option [value]="1" [selected]="model.supportFormId == 1" value="1">General</option>
            <option [value]="2" [selected]="model.supportFormId == 2" value="2">Izin</option>
            <option [value]="4" [selected]="model.supportFormId == 4" value="4">Renovasi</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Status</label>
        <div class="col-8">
          <select id="supportStatusId" name="supportStatusId" class="custom-select" required [(ngModel)]="model.supportStatusId" #supportStatusId="ngModel">
            <option [value]="10" [selected]="model.supportStatusId == 10" value="10">Open</option>
            <!--<option value="2">In-Progress</option>
          <option value="100">Closed</option>-->
          </select>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Reported by</label>
        <div class="col-8">
          <input id="text" name="reported_by" type="text" class="form-control">
        </div>
      </div> -->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      &nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>

<ng-template #modalDetail let-modal>
  <form (ngSubmit)="onUpdateSubmit()" #myFormUpdate="ngForm">
    <div class="modal-header">
      <b class="modal-title" id="modal-basic-title-detail">Detail Support Request</b>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div style="min-height: 460px;">
      
    <div class="row no-gutters mt-3">
      <div class="col-8">
        <div class="ratio ratio-16x9">
          <iframe [src]="iurl" class="frame" title="Dokumen" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
        <div class="border m-1">
          <table class="table table-sm table-striped">
            <tbody>

              <tr>
                <td>Form Category</td>
                <Td>: </Td>
                <td>
                  <strong *ngIf="obj.supportFormId==1">Form General</strong>
                  <strong *ngIf="obj.supportFormId==2">Form Izin</strong>
                  <strong *ngIf="obj.supportFormId==3">Form Pengembalian</strong>
                  <strong *ngIf="obj.supportFormId==4">Form Renovasi</strong>
                </td>
              </tr>
              <tr>
                <td width="35%">CASE Number</td>
                <td width="1%">:</td>
                <td> <span>{{obj.ticketNumber}}</span></td>
              </tr>
             
              <tr>
                <td>Title</td>
                <td>:</td>
                <td>{{ obj.subject}}</td>
              </tr>
              <tr>
                <td> Description </td>
                <td>:</td>
                <td>{{ obj.note}}</td>
              </tr>

              <tr>
                <td>Request Name</td>
                <td>:</td>
                <td> {{obj.request_name}}</td>
              </tr>

              <tr>
                <td>Created Date</td>
                <td>:</td>
                <td> {{obj.input_date}}</td>
              </tr>

              <tr>
                <td>Unit</td>
                <td>:</td>
                <td> {{obj.house}}</td>
              </tr>

              <tr>
                <td>RT</td>
                <td>:</td>
                <td>{{obj.rt == null ? '-' : obj.rt}}</td>
              </tr>

              <tr *ngIf="obj.supportFormId == 1"><!-- General -->
                <td>Assignment</td>
                <td>:</td>
                <td>
                  <select id="assignUser" name="assignUser" class="form-control form-control-sm" required [(ngModel)]="model.assignUser" #assignUser="ngModel" [ngModelOptions]="{standalone: true}">
                     <option *ngFor="let ag of asgList" value="{{ag.name}}" [value]="ag.name">{{ag.name}}</option>
                  </select>
               </td>
              </tr>

              <tr *ngIf="obj.supportFormId == 2 || obj.supportFormId == 4"><!-- Izin & renov -->
                <td>Divisi Keamanan</td>
                <td>:</td>
                <td>
                  <select id="scUser" name="scUser" class="form-control form-control-sm" required [(ngModel)]="model.scUser" #scUser="ngModel" [ngModelOptions]="{standalone: true}">
                     <option *ngFor="let sc of scList" value="{{sc.name}}" [value]="sc.name">{{sc.name}}</option>
                  </select>
               </td>
              </tr>
              <tr *ngIf="obj.supportFormId == 4"><!-- renov -->
                <td>Building Control</td>
                <td>:</td>
                <td>
                  <select id="bcUser" name="bcUser" class="form-control form-control-sm" required [(ngModel)]="model.bcUser" #bcUser="ngModel" [ngModelOptions]="{standalone: true}">
                     <option *ngFor="let bc of bcList" value="{{bc.name}}" [value]="bc.name">{{bc.name}}</option>
                  </select>
                </td>
              </tr>
              <tr *ngIf="obj.supportFormId == 2 || obj.supportFormId == 4"><!-- Izin & renov -->
                <td>Ketua RT</td>
                <td>:</td>
                <td>
                  <select id="rtUser" name="rtUser" class="form-control form-control-sm" required [(ngModel)]="model.rtUser" #rtUser="ngModel" [ngModelOptions]="{standalone: true}">
                     <option *ngFor="let rt of rtList" value="{{rt.name}}" [value]="rt.name">{{rt.name}}</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td>Status</td>
                <Td>:</Td>
                <td>
                  <select id="supportStatusId" name="supportStatusId" class="form-control form-control-sm" required [(ngModel)]="model.supportStatusId" #supportStatusId="ngModel" [ngModelOptions]="{standalone: true}">
                    <option [value]="10" [selected]="obj.supportStatusId == 10" value="10">Open</option>
                    <option [value]="11" [selected]="obj.supportStatusId == 11" value="11">In-Progress</option>
                    <option [value]="100" [selected]="obj.supportStatusId == 100" value="100">Closed</option>
                  </select>
                </td> 
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-success" [disabled]="!myFormUpdate.form.valid">Update</button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="goToLink(new_tab)"><i class="fas fa-print"></i> Print</button>
    </div>
  </form>
</ng-template>
