<app-header></app-header>

<!-- <div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
  </nav>
</div> -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row mb-4">
      <div class="col-6">
        <strong>SUPPORT</strong>
      </div>
      <div class="col-6 text-right">
        <a role="button" class="btn btn-primary btn-sm" (click)="open(modalNewRequest)">Create New Request</a>
      </div>
    </div>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Case Number</th>
          <th>Name Request</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.ticketNumber }}</td>
          <td>{{ item.request_name }}</td>
          <td>{{ item.subject }}</td>
          <td>{{ item.note }}</td>
          <td>{{ item.status_name }}</td>
          <td>{{ item.input_date }}</td>
          <td><a role="button" class="btn btn-primary btn-sm" (click)="open(modalDetail); obj= item; getId = item.id;">Detail</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>


<ng-template #modalNewRequest let-modal>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Support Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Subject</label>
        <div class="col-8">
          <input type="text" class="form-control" id="subject" required [(ngModel)]="model.subject" name="subject" #subject="ngModel">
          <div [hidden]="subject.valid || subject.pristine" class="mt-2 text-danger">
            subject is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="textarea" class="col-4 col-form-label">Note</label>
        <div class="col-8">
          <textarea id="note" name="note" required [(ngModel)]="model.note" cols="40" rows="5" class="form-control" #note="ngModel"></textarea> 
          <div [hidden]="note.valid || note.pristine" class="mt-2 text-danger">
            subject is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Status</label>
        <div class="col-8">
          <select id="supportStatusId" name="supportStatusId" class="custom-select" required [(ngModel)]="model.supportStatusId" #supportStatusId="ngModel">
            <option value="1">Open</option>
            <option value="2">In-Progress</option>
            <option value="100">Closed</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Reported by</label>
        <div class="col-8">
          <input id="text" name="reported_by" type="text" class="form-control">
        </div>
      </div> -->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      &nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>

<ng-template #modalDetail let-modal>
  <form (ngSubmit)="onUpdateSubmit()" #myFormUpdate="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-detail">Detail Support Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="text" class="col-4 col-form-label">CASE Number</label>
      <div class="col-8">
        <input readonly class="form-control-plaintext" value="{{ obj.ticketNumber}}">
      </div>
    </div>
    <p style="border-bottom: 1px solid #ced4da;"></p>
    <div class="form-group row">
      <label for="text" class="col-4 col-form-label">Title</label>
      <div class="col-8">
        <input readonly class="form-control-plaintext" value="{{ obj.subject}}">
      </div>
    </div>
    <p style="border-bottom: 1px solid #ced4da;"></p>
    <div class="form-group row">
      <label for="textarea" class="col-4 col-form-label">Description</label>
      <div class="col-8">
        <textarea cols="40" rows="5" class="form-control-plaintext" readonly>{{ obj.note}}</textarea>
      </div>
    </div>
    <p style="border-bottom: 1px solid #ced4da;"></p>
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Status</label>
      <div class="col-8">
        <select id="supportStatusId" name="supportStatusId" class="custom-select" required [(ngModel)]="model.supportStatusId" #supportStatusId="ngModel" [ngModelOptions]="{standalone: true}">
          <option value="1">Open</option>
          <option value="2">In-Progress</option>
          <option value="100">Closed</option>
        </select>
      </div>
    </div>
    <p style="border-bottom: 1px solid #ced4da;"></p>
    <!-- <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Report by</label>
      <div class="col-8">
        <input readonly name="text" type="text" class="form-control-plaintext" value="{{obj.userId}}">
      </div>
    </div> -->
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Request Name</label>
      <div class="col-8">
        <input readonly name="text" type="text" class="form-control-plaintext" value="{{obj.request_name}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Created Date</label>
      <div class="col-8">
        <input readonly name="text" type="text" class="form-control-plaintext" value="{{obj.input_date}}">
      </div>
    </div>
    <p style="border-bottom: 1px solid #ced4da;"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="!myFormUpdate.form.valid">Update</button>
  </div>
  </form>
</ng-template>