<app-header></app-header>
<main class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-6">
        <strong>USERS</strong>
      </div>
      <div class="col-6 text-right">
        <a role="button" class="btn btn-primary btn-sm" (click)="open(modalUsers,model)">Create New User</a>
      </div>
    </div>
    <table id="example-user" class="display nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Unit</th>
          <th>Status Kepemilikan</th>
          <!--<th>Virtual Account</th>-->
          <th>Email</th>
          <th>Access Right</th>
          <th>Created Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.username }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.house }}</td>
          <td>{{ item.residence_status }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.access_name }}</td>
          <td>{{ item.input_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>
             <a role="button" class="btn btn-primary btn-sm" (click)="open(modalUsers,item); obj= item; getId = item.id;">Detail</a>
             &nbsp;
             <a role="button" class="btn btn-danger btn-sm" (click)="delete_user(item.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<ng-template #modalUsers let-modal>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form Users</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
<table class="tg">
<tbody>
<tr>
    <td class="tg-0lax">Unit</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <select id="house" name="house" class="custom-select" required [(ngModel)]="model.house" #house="ngModel" (change)="setfromRes()">
         <option *ngFor="let res of resItems" [value]="res.house" [selected]="model.house == res.house" value="res.house">{{res.house}}</option>
      </select>
      <div [hidden]="house.valid || house.pristine" class="mt-2 text-danger">
        unit is required
      </div>
   </td>
  </tr>
  <tr>
    <td class="tg-0lax">User name</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <input class="form-control" id="username" name="username" class="form-control" required [(ngModel)]="model.username" #username="ngModel" value="">
      <div [hidden]="username.valid || username.pristine" class="mt-2 text-danger">
        username is required
      </div>
   </td>
  </tr>
  <tr>
    <td class="tg-0lax">Name</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <input class="form-control" id="name" name="name" class="form-control" required [(ngModel)]="model.name" #name="ngModel" value="">
      <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
        name is required
      </div>
   </td>
  </tr>
  <tr>
    <td class="tg-0lax">Email</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <input class="form-control" id="email" name="email" class="form-control" required [(ngModel)]="model.email" #name="ngModel" value="">
      <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
        email is required
      </div>
    </td>
  </tr>
  <tr>
    <td class="tg-0lax">Access Right</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <select id="id_user_access" name="id_user_access" class="custom-select" required [(ngModel)]="model.id_user_access" #id_user_access="ngModel">
         <option *ngFor="let ai of accessItems" [value]="ai.id" [selected]="model.id_user_access == ai.id" value="ai.id">{{ai.name}}</option>
      </select>
      <div [hidden]="id_user_access.valid || id_user_access.pristine" class="mt-2 text-danger">
        name is required
      </div>
    </td>
  </tr>
  <tr *ngIf="model.id_user_access == 1">
    <td class="tg-0lax">Status Kepemilikan Rumah <!-- Home Ownership--></td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <select id="residence_status" name="residence_status" class="custom-select" [(ngModel)]="model.residence_status" #residence_status="ngModel">
         <option [value]="'Pemilik'" value="Owned">Pemilik</option>
         <option [value]="'Penyewa'" value="Tenant">Penyewa</option>
      </select>
      <div [hidden]="residence_status.valid || residence_status.pristine" class="mt-2 text-danger">
        home ownersip is required
      </div>
    </td>
  </tr>
  <tr>
    <td class="tg-0lax">Status</td>
    <td class="tg-0lax">:</td>
    <td class="tg-0lax">
      <select id="status" name="status" class="custom-select" required [(ngModel)]="model.status" #status="ngModel">
         <option [value]="1" value="1">Active</option>
         <option [value]="0" value="0">Suspend</option>
      </select>
      <div [hidden]="status.valid || status.pristine" class="mt-2 text-danger">
        name is required
      </div>
    </td>
  </tr>
</tbody>
</table>
    </div>
    <div class="modal-footer">
            <button *ngIf="model.id != 0" type="button" class="btn btn-primary btn-left-position" (click)="resetPassword()">Reset password</button>
             &nbsp;
             <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
             &nbsp;
             <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>
