<app-header></app-header>
<main class="flex-shrink-0">
  <div class="container-fluid">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <h5>{{model.id == '' ? 'New' : 'Edit' }} CMS</h5>
     <table class="tg">
        <tbody>
          <tr>
            <td class="tg-0pky w-25 text-right">Title</td>
            <td class="tg-0pky w-1">:</td>
            <td class="tg-0pky w-74">
                 <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                 <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
                   name is required
                 </div>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky w-25 text-right">Status</td>
            <td class="tg-0pky w-1">:</td>
            <td class="tg-0pky w-74">
               <select id="status" name="status" class="custom-select" required [(ngModel)]="model.status" #status="ngModel">
                    <option [value]="0" [selected]="model.status == 0" value="0">Draft</option>
                    <option [value]="1" [selected]="model.status == 1" value="1">Published</option>
               </select>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky w-25 text-right">Content</td>
            <td class="tg-0pky w-1">:</td>
            <td class="tg-0pky w-74">
               <editor [init]="config" id="content" name="content" required [(ngModel)]="model.content" #content="ngModel"></editor>
               <div [hidden]="content.valid || content.pristine" class="mt-2 text-danger">
                 content is required
               </div>
            </td>
          </tr>
          <tr>
              <td colspan="2"></td>
              <td colspan="3">
                <a role="button" class="btn btn-outline-secondary" href="javascript:;" (click)="back()">Cancel</a>
                &nbsp;
                <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
              </td>
          </tr>
        </tbody>
     </table>
    </form>
  </div>
</main>
