<main class="form-signin">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <h4 class="my-5">Residence One</h4>
      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address"  [(ngModel)]="login.email" name="email"
      #email="ngModel"  required autofocus>


      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"  [(ngModel)]="login.password" name="password"
      #password="ngModel"  required>
      
      <div class="alert alert-warning" role="alert" [hidden]="!note">
          {{note}}
        </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <div class="mt-5 mb-3 text-muted text-center">
          <small >&copy; 2017-2021</small>
      </div>
  </form>
</main>