<app-header></app-header>
<main class="flex-shrink-0" *ngIf="!show">
  <div class="container">
    <div class="row mb-4">
      <div class="col-6">
        <strong>CMS</strong>
      </div>
      <div class="col-6 text-right">
        <a role="button" class="btn btn-primary btn-sm" href="javascript:;" (click)="cms_create()">Create New CMS</a>
      </div>
    </div>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ item.status == 0 ? 'Draft' : 'Published' }}</td>
          <td>{{ item.user_name }}</td>
          <td>{{ item.input_date }}</td>
          <td><a role="button" class="btn btn-primary btn-sm" href="javascript:;" (click)="cms_detail(item.id)">Detail</a></td>
          <!--<td><a role="button" class="btn btn-primary btn-sm" href="javascript:;" [routerLink]="['/cms/detail', item.id]">Detail</a></td>--><!-- (click)="open(modalDetail,item); obj = item; getId = item.id;" -->
        </tr>
      </tbody>
    </table>
  </div>
</main>

<main class="flex-shrink-0" *ngIf="show">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <h4 class="modal-title" id="modal-basic-title">New CMS</h4>
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Title</label>
        <div class="col-8">
          <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
            name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="textarea" class="col-4 col-form-label">Content</label>
        <div class="col-8">
          <textarea id="content" name="content" required [(ngModel)]="model.content" cols="40" rows="5" class="form-control" #content="ngModel"></textarea> 
          <div [hidden]="content.valid || content.pristine" class="mt-2 text-danger">
            content is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Status</label>
        <div class="col-8">
          <select id="status" name="status" class="custom-select" required [(ngModel)]="model.status" #status="ngModel">
            <option [value]="0" [selected]="model.status == 0" value="0">Draft</option>
            <option [value]="1" [selected]="model.status == 1" value="1">Published</option>
          </select>
        </div>
      </div>
    <button type="button" class="btn btn-outline-secondary">Cancel</button>
    &nbsp;
    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </form>
  </div>
</main>

<!--<ng-template #modalNewRequest let-modal>

  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New CMS</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Title</label>
        <div class="col-8">
          <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
            name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="textarea" class="col-4 col-form-label">Content</label>
        <div class="col-8">
          <textarea id="content" name="content" required [(ngModel)]="model.content" cols="40" rows="5" class="form-control" #content="ngModel"></textarea> 
          <div [hidden]="content.valid || content.pristine" class="mt-2 text-danger">
            content is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Status</label>
        <div class="col-8">
          <select id="status" name="status" class="custom-select" required [(ngModel)]="model.status" #status="ngModel">
            <option [value]="0" [selected]="model.status == 0" value="0">Draft</option>
            <option [value]="1" [selected]="model.status == 1" value="1">Published</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      &nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>

<ng-template #modalDetail let-modal>
  <form (ngSubmit)="onUpdateSubmit()" #myFormUpdate="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-detail">Detail CMS</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="text" class="col-4 col-form-label">Title</label>
      <div class="col-8">
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="mt-2 text-danger">
          name is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="textarea" class="col-4 col-form-label">Content</label>
      <div class="col-8">
        <textarea id="content" name="content" required [(ngModel)]="model.content" cols="40" rows="5" class="form-control" #content="ngModel">{{model.content}}</textarea>
        <div [hidden]="content.valid || content.pristine" class="mt-2 text-danger">
          content is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Status</label>
      <div class="col-8">
        <select id="status" name="status" class="custom-select" required [(ngModel)]="model.status" #status="ngModel">
          <option [value]="0" [selected]="model.status == 0" value="0">Draft</option>
          <option [value]="1" [selected]="model.status == 1" value="1">Published</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="!myFormUpdate.form.valid">Update</button>
  </div>
  </form>
</ng-template>-->
