<app-header></app-header>
<main class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-6">
        <strong>RT/RW</strong>
      </div>
      <div class="col-6 text-right">
        <a role="button" class="btn btn-primary btn-sm" (click)="open(modalForm,model)">Create New RT/RW</a>
      </div>
    </div>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th>No. RT</th>
          <th>No. RW</th>
          <th>Unit Ketua RT</th>
          <th>RT</th>
          <th>Unit Ketua RW</th>
          <th>RW</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.no_rt}}</td>
          <td>{{item.no_rw}}</td>
          <td>{{item.unit_rt}}</td>
          <td>{{item.rt_username}}</td>
          <td>{{item.unit_rw}}</td>
          <td>{{item.rw_username}}</td>
          <td>
             <a role="button" class="btn btn-primary btn-sm" (click)="openedit(modalForm, item); obj = item;">Detail</a>&nbsp;
             <a role="button" class="btn btn-danger btn-sm" (click)="actionDel(item.id);">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>


<ng-template #modalForm let-modal>
  <form #myForm="ngForm" (submit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form RT/RW {{model.action}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
	<table class="table-form">
	<tbody>
	  <tr>
	    <td class="label p-2">No. RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input type="text" class="form-control" id="no_rt" required [(ngModel)]="model.no_rt" name="no_rt" #no_rt="ngModel">
	      <div [hidden]="no_rt.valid || no_rt.pristine" class="mt-2 text-danger">
		no rt is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">No. RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input type="text" class="form-control" id="no_rw" readonly required [(ngModel)]="model.no_rw" name="no_rw" #no_rw="ngModel">
	      <div [hidden]="no_rw.valid || no_rw.pristine" class="mt-2 text-danger">
	      no rw is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Unit Ketua RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <select class="form-control" id="unit_rt" required [(ngModel)]="model.unit_rt" name="unit_rt" #unit_rt="ngModel" (change)="setfromRes1(model.unit_rt)">
		<option *ngFor="let ui of rtItems" value="{{ui.house}}" [value]="ui.house">{{ui.house}}</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Nama Ketua RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input class="form-control" type="hidden" id="rt_userId" required [(ngModel)]="model.rt_userId" name="rt_userId" #rt_userId="ngModel">
	      <input class="form-control" type="text" id="rt_username" required [(ngModel)]="model.rt_username" name="rt_username" #rt_username="ngModel" value="">
	      <div [hidden]="rt_userId.valid || rt_userId.pristine" class="mt-2 text-danger">
		 rt is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Unit Ketua RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <select class="form-control" id="unit_rw" required [(ngModel)]="model.unit_rw" name="unit_rw" #unit_rw="ngModel" (change)="setfromRes2(model.unit_rw)">
		<option *ngFor="let ui of rwItems" value="{{ui.house}}" [value]="ui.house">{{ui.house}}</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Nama Ketua RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input class="form-control" type="hidden" id="rw_userId" required [(ngModel)]="model.rw_userId" name="rw_userId" #rw_userId="ngModel">
	      <input class="form-control" type="text" id="rw_username" required [(ngModel)]="model.rw_username" name="rw_username" #rw_username="ngModel">
	    </td>
	  </tr>
	</tbody>
	</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
      &nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>

<!-- untuk popup modal edit -->
<!--
<ng-template #modalEditForm let-modal>
  <form #myForm="ngForm" (submit)="onUpdateSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form RT/RW</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
	<table class="table-form">
	<tbody>
	  <tr>
	    <td class="label p-2">No. RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input type="text" class="form-control" id="no_rt" required [(ngModel)]="editmodel.no_rt" name="no_rt" #no_rt="ngModel">
	      <div [hidden]="no_rt.valid || no_rt.pristine" class="mt-2 text-danger">
		no rt is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">No. RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input type="text" class="form-control" id="no_rw" [(ngModel)]="editmodel.no_rw" name="no_rw" #no_rw="ngModel">
	      <div [hidden]="no_rw.valid || no_rw.pristine" class="mt-2 text-danger">
	      no rw is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Ketua RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <select class="form-control" id="unit_rt" required [(ngModel)]="editmodel.unit_rt" name="unit_rt" #unit_rt="ngModel" (change)="setfromRes1(model.unit_rt)">
		<option *ngFor="let ui of resItems" value="{{ui.house}}" [value]="ui.house">{{ui.house}}</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Nama Ketua RT</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input class="form-control" type="hidden" id="rt_userId" required [(ngModel)]="model.rt_userId" name="rt_userId" #rt_userId="ngModel">
	      <input class="form-control" type="text" id="rt_username" required [(ngModel)]="editmodel.rt_username" name="rt_username" #rt_username="ngModel">
	      <div [hidden]="rt_userId.valid || rt_userId.pristine" class="mt-2 text-danger">
		 rt is required
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Ketua RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <select class="form-control" id="unit_rw" required [(ngModel)]="editmodel.unit_rw" name="unit_rw" #unit_rw="ngModel" (change)="setfromRes2(model.unit_rw)">
		<option *ngFor="let ui of resItems" value="{{ui.house}}" [value]="ui.house">{{ui.house}}</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td class="label p-2">Nama Ketua RW</td>
	    <td class="p-2">:</td>
	    <td class="input p-2">
	      <input class="form-control" type="hidden" id="rw_userId" required [(ngModel)]="model.rw_userId" name="rw_userId" #rw_userId="ngModel">
	      <input class="form-control" type="text" id="rw_username" required [(ngModel)]="editmodel.rw_username" name="rw_username" #rw_username="ngModel">
	    </td>
	  </tr>
	</tbody>
	</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      &nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>-->
